.comment {
   display: grid;
   gap: 16px;
   padding: 12px;
   background-color: $white;
   border-radius: 6px;
   grid-template:
      'bar bar'
      'text text'
      'rate actions' / 1fr auto;

   @media (min-width: $breakpoint) {
      grid-template:
         'rate bar actions'
         'rate text text'
         'rate text text' / auto 1fr;
      padding: 24px;
   }
}

.comment__bar {
   grid-area: bar;
   display: flex;
   align-items: center;
   gap: 16px;
}

.comment__avatar {
   width: 30px;
   height: 30px;
   border-radius: 50%;
}

.comment__username {
   display: flex;
   align-items: center;
   gap: 8px;
   color: $dark-blue;
   font-weight: 500;
}

.comment__time {
   color: $grayish-blue;
}

.comment__text {
   grid-area: text;
   display: block;
   color: $grayish-blue;
   line-height: 1.5;

   &--hidden {
      display: none;
   }
}

.comment__edit-text {
   grid-area: text;
   display: block;
   padding: 16px 24px;
   color: $grayish-blue;
   border: 1px solid $light-gray;
   line-height: 1.5;
   border-radius: 6px;
   font-size: $font-size;
   font-family: $font-family;
   resize: none;
   overflow: hidden;

   @media (min-width: $breakpoint) {
      cursor: pointer;
   }
}

.comment__rate {
   grid-area: rate;
   align-self: flex-start;
}

.comment__actions {
   grid-area: actions;
   display: flex;
   align-items: center;
   gap: 12px;
   align-self: center;
   justify-self: flex-end;
}

.comment__action {
   display: flex;
   align-items: center;
   gap: 6px;
   background-color: transparent;
   color: $moderate-blue;
   font-size: $font-size;
   font-family: $font-family;
   font-weight: 500;
   border: none;
   transition: opacity 100ms;
   cursor: pointer;

   &--delete {
      color: $soft-red;
   }

   &--hidden {
      display: none;
   }

   @media (min-width: $breakpoint) {
      &:hover {
         opacity: 0.4;
      }
   }
}

.comment__mention {
   background: transparent;
   color: $moderate-blue;
   font-weight: 500;
   font-family: $font-family;
   font-size: $font-size;
   border: none;
   cursor: pointer;

   &::before {
      content: '@';
   }

   &--hidden {
      display: none;
   }
}

.comment__badge {
   padding: 4px 6px;
   border-radius: 2px;
   background-color: $moderate-blue;
   color: $very-light-gray;
   line-height: 1;
   font-size: 0.75rem;
}

.comment__update-btn {
   grid-column: 2;
   
   @media (min-width: $breakpoint) {
      grid-column: 3;
   }
}