.dialog {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: $black-40;
    padding: 16px;

    &--visible {
        display: flex;
    }
}

.dialog__content {
    display: grid;
    gap: 16px;
    padding: 24px;
    background-color: $white;
    border-radius: 8px;
}

.dialog__actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.dialog__title {
    font-size: 1.3rem;
    color: $dark-blue;
    font-weight: 500;
}

.dialog__text {
   color: $grayish-blue;
   line-height: 1.5;
}