.new-comment {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    row-gap: 16px;
    padding: 16px;
    background-color: $white;
    border-radius: 6px;
    
    @media (min-width: $breakpoint) {
        display: flex;
        align-items: flex-start;
        gap: 16px;
        padding: 24px;
    }
}

.new-comment__text {
    grid-column-end: span 2;
    border: 1px solid $light-gray;
    border-radius: 6px;
    font-size: $font-size;
    font-family: $font-family;
    padding: 16px 24px;
    resize: none;
    
    @media (min-width: $breakpoint) {
        flex-grow: 1;
        cursor: pointer;
    }
}

.new-comment__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
    @media (min-width: $breakpoint) {
        order: -1;
        width: 40px;
        height: 40px;
    }
}